@import "tipografia";
@import "estructuras";

$orange: orange;
$white: white;
$espaciado: 10px;
$espaciado2: 5px;
$font: 35px;
$black: black;
$font2: 100px;
$padding:15px;



ul {
    list-style: none;
    li {
        padding: $espaciado + $espaciado2;
        text-decoration-style:dotted;
    a {
    font-size: 16px;
    color: rgb(0, 0, 0);
        }
        &:hover {
            color: rgb(251, 251, 253);
            background-color: $white;
        }
        &:active {
            background-color: $orange;
        }
    }
}

.mp {
    margin: 0px;
    padding: 0px;
}

body {
    @extend .mp;
    background-color:$white;
}

p {
    font-size: $font; ;
}

$fondo: (color1:rgb(224, 221, 221), color2:rgb(255, 255, 255));
    
@each $clave, $valor in $fondo {
    .#{$clave} {
        background-color: $valor;
    }
}

@mixin parrafo ($font2,$padding){
    font-size:$font2;
    padding:$padding;
}

.parrafo {
    @include parrafo ($font2, $padding)
}

form {
    padding-bottom: 150px;
}

