
@import "tipografia";
@import "estructuras";

$orange: orange;
$white: white;
$espaciado: 10px;
$espaciado2: 5px;
$font: 35px;


ul {
    list-style: none;
    li {
        padding: $espaciado + $espaciado2;
        text-decoration-style:dotted;
    a {
    font-size: 16px;
    color: rgb(0, 0, 0);
        }
        &:hover {
            color: rgb(251, 251, 253);
            background-color: $white;
        }
        &:active {
            background-color: $orange;
        }
    }
}

body {
    margin: 0;
    padding: 0%;
}

p {
    font-size: $font;
}

$fondo: (color1:rgb(243, 146, 34), color2:black);
    
@each $clave, $valor  in $fondo {
    .#{$clave} {
        background-color: $valor;
    }
}